* {
    box-sizing: border-box;
}

.main {
    max-width: 800px;
    margin: auto;
    border: 1px solid gray;
    padding: 5px;
}

.form {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    height: 200px;
    margin: 0;
}

.content {
    border: 1px solid gray;
    height: 400px;
    position: relative;
}

.content__text {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content__measurer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: pink;
    z-index: 0;
    visibility: hidden;
}

.content__character-measurer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: cadetblue;
    z-index: 0;
    visibility: hidden;
}

.content--style-font-size-12 {
    font-size: 12px;
}

.content--style-font-size-14 {
    font-size: 14px;
}

.content--style-font-size-16 {
    font-size: 16px;
}

.controls__control + .controls__control {
    margin-left: 10px;
}

.controls__control__button {
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.controls__control__button--font-size-12 {
    font-size: 12px;
}

.controls__control__button--font-size-14 {
    font-size: 14px;
}

.controls__control__button--font-size-16 {
    font-size: 16px;
}